# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env/   
myenv/

# Build
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# Data folders (optional)
data/
datasets/
